@import "../css/vendor/normalize.css";
@import "mixins";

/* Document */
body {
  color: #222;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.graph {
  border: 1px solid #ddd;
  margin: 1em 0;
}
.axis path,
.axis line {
  fill: none;
  stroke: #222;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: #d81e1e;
  stroke-width: 2px;
}

button {
  font-size: 2em;
}

.hide {
  display: none;
}
